
body{
	font-family: 'Allerta', sans-serif;
	margin: 0;
}

table{
	width: 100%;
}

th{
	background: #273B47;
	color: white;
	padding: 10px 20px;
	text-align: left;
}

td{
	padding: 20px;
}

table, td, th{
	border: solid #273B47;
	border-collapse: collapse;
}

input, textarea{
	outline: 0;
}

input:focus , textarea:focus{
	background: lightgray;
}

.header{
	position: relative;
}

.background{
	background-image: url('../images/background.png');
	background-size: cover; 
}

.contenedor{
 	width: 800px;
	margin: auto;
	position: relative;
 }

.titulo{
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0;
	margin-top: 70px;
	font-size: 70px;
}

.titulo span{
	text-decoration: underline;
}

.subtitulo{
	font-size: 24px;
	margin-top: 0;
}

.title-b{
	font-size: 50px;
	margin-bottom: 20px;
}

.guitarras{
	color: #1F313C;
	margin-bottom: 60px !important;
}

.guitarras h2{
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
}

.guitaras h3{
	font-size: 
}

/*.guitarra li{
	font-weight: bold;
}*/

.guitarra{
	margin: 10px;
	padding: 10px;
	/*overflow: hidden;*/
	border: 1px solid #1F313C;
	border-radius: 8px;
}

.guitarra ol{
	padding: 0;
}

.guitarra.b{
	height: 190px;
}

.portada{
	color: white;
	padding: 20px;
	height: 500px;
}

.portada button{
	margin-bottom: 70px;
}

.menu{
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;
}

.menu li {
	display: inline-block;
	margin-left: 30px;
}

.menu li:before{
	content:'ˆ';
	font-size: 30px;
	line-height: 20px;
}

.menu a{
	color: white;
	text-decoration: none;
}

.logotipo {
	display: inline-block;
	margin-left: 0;
}

 

.rigth{
	float: right;
	position: relative;
	top: -142px;
}

.left{
	float: left;
	position: relative;
}

.contenedor-guitarra-a{
	padding-left: 20px;
}

.contenedor-guitarra-b{
	margin-left: 370px;
	position: relative;
	bottom: 90px;
}

.button{
	border-radius: 10px;
	background: #FD324E;
	color: white;
	border: none;
	padding: 7px 12px;
	cursor: pointer;
	font-size: 18px;
	background: linear-gradient(to right, rgba(249,79,85,1) 0%,rgba(221,2,2,1) 97%);
	text-decoration: none;
}

.footer{
	background: #273B47;
	padding: 50px 0px;
}

.contacto{
	display: flex;
	width: 290px;
	flex-wrap: wrap;
	align-items: center;
}

.contacto img{
	display: block;
}

.contacto strong{
	display: block;
}

.contacto a{
	color: white;
	text-decoration: none;
	margin: 10px 10px 10px 0;
}

.footer .contenedor{
	display: flex;
	justify-content: space-between;
}

.formulario{
	display: flex;
	width: 450px;
	color: white;
}

.col1, .col2{
	display: flex;
	flex-direction: column;
}

.col1{
	margin-right: 15px;
}

.col2{
	align-items: flex-start;
}

.col2 .button{
	margin-top: 15px;
}

.intereses label{
	font-size: 13px;
}

.formulario label, .sexo, .intereses{
	margin-bottom: 10px; 
}

.sexo{
	margin-top: 10px;
}

.tabla{
	margin:  50px 0px;
}